*{ margin:0px;padding:0px;font-family:Arial,Helvetica Neue,Helvetica,sans-serif;box-sizing:border-box}
.left{float:left}
.fix-scroll{position: fixed;max-width: 1350px;top: 0px;left: 0px;z-index: 988}
a{cursor: pointer;}
body{background: #f4f4f4;color:#444444}
ul li{  list-style-position: inside;}
ul.breadcrumb li{list-style: none;}
.white{color:white}
.text{font-size: 16px; text-align: justify;line-height: 28px;}
.right{float:right}
.clear{clear:both}
.clear10{clear:both;height:10px}
.clear20{clear:both;height:20px}
.clear100{clear:both;height:100px}
.list_ngang li{list-style:none;display:inline-block;float:left;}
.list_doc li{list-style:none;display:block}
a{text-decoration:none;color:#000}
.tj{text-align:justify;font-size:14px;line-height:20px;margin-bottom:5px}
.tc{text-align:center}
.w50{width: 50%;float: left;}
.vien_hinh{border:4px solid #fff!important;outline:1px solid #d3d2d2;}
.bo5{border-radius:5px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mt10{margin-top:10px}
.mb{margin-bottom:5px}
.pad2{padding: 2%}
.ngay{font-style:italic;font-size:12px;color:#666;margin-top:5px}
.w1350{max-width:1350px;margin:auto;position:relative;overflow:hidden;width:100%}
.w1000{max-width:1150px;margin:auto;}
.w100{width:100%;float:left;}
.hl{color:#ef402c;font-size:18px;font-weight:bold}
.vta{display:-ms-flexbox!important;-ms-flex-pack:center;-ms-flex-align:center;display:-webkit-box!important;-webkit-box-pack:center;-webkit-box-align:center;display:flex!important;flex-direction:column;justify-content:center;}
header{
    position: relative;
    padding: 1% 0;background: rgba(210,102,0,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(210,102,0,1) 0%, rgba(210,102,0,1) 23%, rgba(231,56,39,1) 80%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(210,102,0,1)), color-stop(23%, rgba(210,102,0,1)), color-stop(80%, rgba(231,56,39,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(210,102,0,1) 0%, rgba(210,102,0,1) 23%, rgba(231,56,39,1) 80%, rgba(231,56,39,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(210,102,0,1) 0%, rgba(210,102,0,1) 23%, rgba(231,56,39,1) 80%, rgba(231,56,39,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(210,102,0,1) 0%, rgba(210,102,0,1) 23%, rgba(231,56,39,1) 80%, rgba(231,56,39,1) 100%);
    background: radial-gradient(ellipse at center, rgba(210,102,0,1) 0%, rgba(210,102,0,1) 23%, rgba(231,56,39,1) 80%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d26600', endColorstr='#e73827', GradientType=1 );}
header * {color: white}
header .left{width: 170px;float: left;}
header .right{float: right;width: calc(100% - 170px);text-align: center;padding: 2% 0;}
header .right li{
    list-style: none;
    margin-bottom: 10px;
}
header .right li.text-big  {
    color: #00a451;
    font-weight: bold;
    font-size: 170%;
}
header .right li.text-small{
color:#f0d200;
}
header .right .grp{position: absolute;top: 7px;margin:auto;display: inline-table;right: 0px}
header .right .grp span{font-size: 110%}
header .left .logo img{vertical-align: middle;margin-right: 3%}
header .left .logo span{font-size: 120%; text-transform: uppercase;display: inline-block;    position: relative;
    top: 5px;}
header .logo{
    width: 170px;
    background: white;
    text-align: center;
    padding: 0px 8px;
    position: absolute;
    bottom: -29px;
    z-index: 9;
}
header .logo img{
    width: 100% !important;
}
header .right-left{
    width: 75%;
    float: left;
}
header .right-right{
    width: 25%;
    float: left;
}
header .right-right .block-top li{
    display: inline-block;
    margin-right: 10px;
}
header .block-bottom .block-bottom-right{
    display: inline-block;
    border-top: 1px solid white;
    border-right: 1px solid white;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 20px;
    border-left: 1px solid white;
}
header .block-bottom .block-bottom-right span{
    display: block;
}
header .block-bottom .block-bottom-right span.text-number{
    font-size: 130%;
    color: #fcce18;
}

header .block-bottom .block-bottom-left{
    display: inline-block;
    margin-right: -24px;
}
header .block-bottom .block-bottom-left img{
    width: 40px;
    z-index: 9;
    position: relative;
   background: #d75a0a;
    padding-top: 7px;
    margin-bottom: -5px;
}
.wrap-loaitin .page-left{
    width: 70%;
    float: left;
}
.wrap-loaitin .page-left .list-pro > li{
    width: calc(96% / 3);
    list-style: none;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}
.wrap-loaitin .page-left .list-pro > li:nth-child(3n) {
    margin-right: 0;
}
.wrap-loaitin .page-left .list-pro > li .wrap-img-cate img{
    max-width: 100%;
}
.wrap-loaitin .page-left{
    width: 75%;
    float: left;
}
.wrap-loaitin .menuright{
    width: 25% !important;
    float: left !important;
    padding-right: 30px;
}
.wrap-loaitin .menuright label{
    width: 100%;
    float: left;
    background: #00a451;
    text-transform: uppercase;
    font-size: 120%;
    padding: 6px 15px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
.wrap-loaitin .menuright ul{
    background: #e5e5e5;
    width: 100%;
    float: left;
    padding-top: 20px;
}
.wrap-loaitin .menuright li.active a:after{
    content: '';
    width: 12px;
    height: 10px;
    background: red;
    left: 0;
    position: absolute;
    bottom: 4px;
}
.wrap-loaitin .menuright li{
    position: relative;
    padding-left: 20px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    list-style: none;
}

.wrap-loaitin .page-left .head{
    font-weight: bold;
    font-size: 120%;
    color: #00a451;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #00a451;
}
.wrap-loaitin{
    width: 100%;
    float: left;
    margin-top: 40px;
}
.wrap-loaitin .page-left .list-pro > li h3{
    font-size: 110%;
    color: #464646;
    margin-top: 7px;
}
.wrap-loaitin .page-left .wrp-adv{
    margin-bottom: 20px;
}
footer{background: #940808;padding: 2% 0;margin-top: 5%}

footer *{color: white}
footer .col3{width: calc(100% / 3);float: left;color: white;padding-right: 30px}
footer .grp-col3{width: 100%;float: left; margin-bottom: 2%; padding-bottom: 1%;}
footer .grp-col4{width: 100%;float: left;}
footer .grp-col4 .col4{line-height: 24px;text-align: justify;width: calc(94% / 4);float: left;margin-right: 2%}
footer .grp-col4 .col4:nth-child(4){margin-right: 0}
footer .grp-col4 .col4 input[type="email"]{max-width: 90%}
footer .grp-col4 .col4 label{width: 100%;float: left;margin-bottom: 3%; font-size: 120%;font-weight: bold;color: white}
footer .grp-col4 .col4 li{width: 100%;float: left;margin-bottom: 2%}
footer .grp-col4 .col4 li i{margin-right: 3%}
footer .grp-col3 i{    width: 30px;
    height: 30px;
    background: #18ba60;
    border-radius: 50%;
    text-align: center;
    line-height: 30px; color: white;font-size: 14px;vertical-align: inherit}
footer .col3 h3{
    font-weight: normal;
    font-size: 150%;
    margin-bottom: 25px;
}
footer .col3 li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.block-end-footer{
    text-align: center;
    padding: 1%;
    background: #00a451;
    color: white;
}
.wrap-loaitin .page-cate{width: 79%;float: left; padding-left: 2%;}
.right.page-news-detail {
    width: 79%;
    float: left;
    padding-left: 2%;
}
.wrap-loaitin .right .list-pro li {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d2d2d2;
    min-height: auto;
    list-style: none;
}
.tieude-news {
    margin: 3% 0;
    font-size: 140%;
}
.ct-newsdetail img {
    max-width: 100% !important;
    height: auto !important;
}
.ct-newsdetail p,.ct-newsdetail *{text-align: justify;line-height: 24px;margin:1% 0;}
.wrap-loaitin .right .list-pro li:last-child{border-bottom: 0}
.page-cate .head {
    font-size: 120%;
    text-transform: uppercase;
    font-weight: bold;
    color: #008930;
    margin: 2% 0;
}
.wrap-loaitin .right .list-pro li .wrap-img-cate {
    width: 30%;
    float: left;
    margin-right: 2%;
}
.wrap-loaitin .right .list-pro li .wrap-des-cate {
    width: 68%;
    float: left;
}
.wrap-loaitin .right .list-pro li .wrap-img-cate img {
    width: 100%;
    float: left;
}
.wrap-loaitin .right .list-pro li .wrap-des-cate h3 {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    color: black;
}
.wrap-loaitin .right .list-pro li .wrap-des-cate p{text-align: justify;line-height: 24px;width: 100%;float: left;margin-top: 10px}
.wrap-loaitin .right .list-pro li .wrap-des-cate .time-stamp {
    width: 100%;
    float: left;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 5px 0;
}
#menu-line{
    display: none;
}
footer .grp-col3 span{display: inline-block;color: white;padding-left: 5px}
footer .grp-col3 .col3:nth-child(2){position: relative;top: -10px}
footer .grp-col3 .col3:nth-child(2) span{position: relative;top: 7px}
footer .grp-col3 .col3:nth-child(2) span a{color: white}
section.menu{
    background: #00a451;
    padding-left: 290px !important;
}
#cssmenu li.txt-hotline{
    color: white;
    padding: 13px 16px;
}
#cssmenu > ul{
    padding: 7px 0 !important;
}
section.dieukhac-tc .tt{    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
    color: #008930;
    font-weight: bold;margin-bottom: 5%}
section.dieukhac-tc .ct{display: inline-table;}
section.dieukhac-tc .ct .col4{width: calc(92% / 4);margin-right: 2%;display: inline-block;vertical-align: top;margin-bottom: 20px}
section.dieukhac-tc .ct .col4:last-child{margin-right: 0}
section.dieukhac-tc .ct .col4 label{width: 100%;float: left;text-align: center;font-weight: bold;margin-top: 6%;text-transform: uppercase;color: #5d5d5d}
section.dieukhac-tc{margin-bottom: 5%}
section.dieukhac-tc.old{
    padding: 3% 0;
    background: white;
}
section.wrp-spnb .tt{  font-size: 200%;
    text-align: center;
    text-transform: uppercase;
    color: #008930;
    font-weight: bold;margin-bottom: 5%}
.wrap-lsp .list-pro li,.menuleft ul li,.slide-pro li{list-style: none;}
section.wrp-spnb{background: url(../images/bgla.png) no-repeat; background-size: cover;padding-bottom: 3%}
section.wrp-hl li{width: 100%;float: left;margin-bottom: 5px;text-align: center;list-style: none;}
section.wrp-hl li:nth-child(2){font-size: 250%;font-weight: bold;font-family: fantasy; text-transform: uppercase;}
section.wrp-hl li:nth-child(1){color: white;font-size: 250%;text-transform: uppercase;}
section.wrp-hl ul{width: 100%;float: left;background:rgba(115, 181, 135, 0.73);padding: 10% 0}
section.wrp-hl{background:url(../images/bgla2.png) no-repeat;background-size: cover;}
#cssmenu li:nth-child(1) img{    width: 100%;
    position: absolute;
    top: 13px;
    /* bottom: 0px; */
    left: 0px;
    right: 0px;
    margin: auto;
}
section.wrp-ab-tc .tt{font-size: 230%;
    text-align: center;
    text-transform: uppercase;
    color: #008930;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 3%
}
section.wrp-ab-tc .left{width: 50%;float: left;}
section.wrp-ab-tc .ct{position: relative;}
section.wrp-ab-tc .right{width: 55%;float: left;position: absolute;left: 37%;top: 10%;background:white;padding: 2% 4%}
.wrp-ab-tc .btn-gttc a{background:#03bbd3;color: white;padding: 5px 20px;    margin-top: 5%;
    float: right;border:1px solid #03bbd3;}
.wrp-ab-tc .btn-gttc a:hover{background:white;color:#03bbd3 }
section.wrp-ab-tc{margin-bottom: 6%}
footer .grp-col4 .col4:nth-child(4) li input[type="email"]{color: black; width: 100%;float: left;padding-left: 10px;height: 40px;line-height: 40px;outline: none;}
footer .grp-col4 .col4:nth-child(4) li input[type="submit"]{width: 100px;height: 40px;line-height: 40px;background:#18ba60; border:1px solid #18ba60;color: white;outline: none;}
footer .grp-col4 .col4:nth-child(4) li input[type="submit"]:hover{background: white;color: #18ba60}
footer .grp-col4 .col4:nth-child(4) li{width: 100%;float: left;margin-bottom: 5%}
footer .grp-col4 .col4:nth-child(2),footer .grp-col4 .col4:nth-child(3){padding-left: 3%}
.menuleft {
    width: 21%;
    float: left;
}
.wrap-lsp .right {
    width: 79%;
    float: left;
    padding-left: 2%;
}
.menuleft .head{color: white  !important;padding: 4% 0;background: #008930;padding-left: 10px;font-size: 110%}
.menuleft > ul > li > a{font-weight: bold}
.menuleft > ul > li > a > img{width: 10px;vertical-align: middle;}
.menuleft > ul{width: 100%;float: left;background: #e5e5e5;padding-left: 10px}
.menuleft ul li{margin-top: 10px}
.menuleft > ul > li > ul > li{padding-left: 20px}
.wrap-lsp .list-pro li.last{margin-right: 0}
.wrap-lsp .list-pro li h3 {
    width: 100%;
    float: left;
    font-weight: normal;
    margin-top: 10px
}
.wrap-lsp .list-pro li img {
    width: 100%;
    float: left;
}
.wrap-lsp .right .head{margin-bottom: 15px;
    font-size: 130%;
    color: #008930;}
.wrap-prodetail .right{width: 75%;float: left;padding-left: 1%}
.wrap-prodetail .right ul.breadcrumb{padding-top: 0;margin-bottom: 5px}
.wrap-prodetail .right .line{margin-bottom: 30px}
.wrap-prodetail .right .left-pro{width: 50%;float: left;}
.wrap-prodetail .right .left-pro label{margin-bottom: 15px;font-size: 110%;text-transform: uppercase;margin-bottom: 2%}
.wrap-prodetail .right .right-pro{width: 50%;float: left;padding-left: 2%;position: relative;}
.wrap-prodetail .right .right-pro label{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 110%;
    border-bottom: 1px solid #00a451;
    margin-bottom: 25px;
    padding-bottom: 10px;
}
.wrap-prodetail .right .product-contact{
    margin-top: 20px;
}
.wrap-prodetail .right .ttlh-pro{width: 100%;float: left;margin-top: 3%}
.wrap-prodetail .right .des-pro{max-width: 100%;height: auto !important}
.wrap-prodetail .right .ttlh-pro li{display: inline-block;width: 100%;margin-bottom: 20px;float: left;}
.wrap-prodetail .right .ttlh-pro i{
    width: 30px;
    height: 30px;
    background: #18ba60;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 14px;
    vertical-align: inherit;
}
.wrap-form-tuvan {
    border: 2px solid grey;
    padding: 20px;
}
.wrap-form-tuvan input[type=submit]:focus{
    outline: none;
}
.wrap-form-tuvan input[type=submit]{
    width: 100%;
    padding: 7px;
    background: #00a451;
    color: white;
    border:1px solid #00a451;
    font-size: 120%;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
.wrap-form-tuvan input[type=submit]:hover{
    background: white;
    color:  #00a451;
}
.wrap-form-tuvan .modal-footer p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.wrap-form-tuvan input[type=text],.wrap-form-tuvan input[type=email],.wrap-form-tuvan textarea{
    width: 100%;
    float: left;
    padding: 7px;
    background: #dddddd;
    border:1px solid black;
}
.wrap-form-tuvan .modal-header h3{
    margin-bottom: 30px;
}
.wrap-form-tuvan .form-group{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.rela-news .head {
    font-size: 120%;
    font-weight: bold;
    color: #008930;
    margin-bottom: 1%;
}
.rela-news li{width: 100%;float: left;margin-bottom: 1%;list-style: none;display: inline-table;}
.rela-news li a{display: inline-table;width: 100%;float: left;}
.rela-news li label{width: calc(100% - 115px);padding-left: 10px;display: inline-block;vertical-align: middle;}
.rela-news li img{display: inline-block;vertical-align: middle;width: 100px}
.right.page-news-detail .time-stamp{width: 100%;float: left;margin:1%; }
.wrap-lsp .head{color: #7b0000;font-size: 110%;margin-bottom: 3%;margin-top: 4%;    border-bottom: 1px solid #18ba60;padding-bottom: 5px}
.wrap-lsp .list-pro{display: inline-table;}
.wrap-lsp .list-pro li{width: calc(96%/ 3);margin-right: 2%;margin-bottom: 30px;display: inline-block;vertical-align: top;}
.wrap-lsp .list-pro li.last{margin-right: 0}
.wrap-lsp .list-pro li h3{font-size: 100%;text-transform: uppercase;}
.contact-page{width: 79%;float: left;padding-left: 2%}
.page-news-detail  .tieude-news{font-size: 130%;
    margin-bottom: 2%;
    color: #008930;}
.page-news-detail .ct-newsdetail{line-height: 26px;text-align: justify;}
section.wrp-menumobile{display: none;}
.wrp-slide{
    margin-bottom: 3%;
}
.bg-middle{
    padding: 5% 0;
    text-align: center;
}
.bg-middle .tt{
    text-align: center;
    font-size: 130%;
    color: white;
    text-transform: uppercase;
    background: #5d07078f;
    display: inline-block;
    margin: auto;
    padding: 15px 95px;
}
.bg-middle .content {
    width: 70%;
    text-align: center;
    color: #d2d2d2;
    margin: auto;
    margin-top: 3%;
}
.service-home{
    padding: 3% 0;
}
.service-home .title-desc{
    text-align: center;
}
.service-home .tt{
    font-size: 161%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}
.service-home .title-desc{
    margin-bottom: 30px;
}
.service-home .col3:nth-child(3n){
    margin-right: 0;
}
.service-home .col3{
    width: calc(96% / 3);
    margin-right: 2%;
    float: left;
}
.service-home .col3 label{
    font-size: 120%;
    padding: 10px;
    width: 100%;
    float: left;
    padding-left: 103px;
}
.service-home .col3 .wrp-img{
    position: relative;
}
.service-home .col3 .wrp-img .wrp-date{
    width: 65px;
    height: 65px;
    background: red;
    z-index: 1;
    position: absolute;
    color: white;
    bottom: -35px;
    left: 20px;
    border: 4px solid white;
    text-align: center;
}
.service-home .col3 .wrap-desc{
    width: 100%;
    float: left;
    border-bottom: 3px solid #d4d4d4;
}
.service-home .col3 .wrp-img .wrp-date .text-day{
    font-size: 150%;
    border-bottom: 1px solid white;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    font-weight: bold;
}
.wrap-prodetail{
    margin-top: 3%;
}
@media screen and (max-width: 1150px) {
    section.wrp-menumobile{display: block;}
    section.menu{display: none;}
    #cssmenu li:nth-child(1) img{width: 25px;right: inherit;left: 15px}
    #cssmenu .submenu-button::before,#cssmenu .submenu-button::after{background: white}
    header{padding-left: 2%;padding-right: 2%}
    section.menu{margin-bottom: 1%}
}
@media screen and (max-width: 736px) {
    section.wrp-ab-tc .left{width: 100%;margin-bottom: 2%}
    section.wrp-ab-tc .right{width: 100%;position: relative;left: 0}
}
@media screen and (max-width: 414px) {
    .right.page-news-detail{width: 100%}
    section.wrp-ab-tc .tt{font-size: 130%}
    .contact-page,.contact-page .wrap-info-ct .w50{width: 100%}
    .contact-page{padding-right: 2%}
    .wrap-prodetail .right ul.breadcrumb{margin-top: 2%}
    .wrap-prodetail .right .right-pro label{margin-bottom: 20px}
    .wrap-prodetail .right .right-pro .ttlh-pro{width: 100%;margin-top: 3%;position: relative;top: 0px}
    .menuleft{display: none;}
    .wrap-lsp .right,.wrap-prodetail .right{width: 100%}
    .list-pro li{width: 49% !important;margin-right: 2%}
    .list-pro li.last{margin-right: 2% !important}
    .wrap-lsp .right{padding-left: 2%;padding-right: 2%}
    .wrap-prodetail .right .left-pro{width: 100%}
    .wrap-prodetail{padding-left: 2%;padding-right: 2%}
    .wrap-prodetail .right .right-pro{width: 100%;}
    .list-pro li:nth-child(2n){margin-right: 0 !important}
    ul.breadcrumb{margin-bottom: 5px}
    header .right{float: left;width: calc(100% - 170px)}
    header .left{float: right;width: 170px}
    header .left .logo{text-align: center;padding: 2% 0}
    header .left .logo span{font-weight: bold}
    header .right .grp{position: relative;padding-bottom: 2%;text-align: center;width: 100%;float: left;}
    section.dieukhac-tc .ct{display: inline-table;}
    section.dieukhac-tc .ct .col4{width: 49%;margin-right: 2%;margin-bottom: 3%;display: inline-block;vertical-align: top;}
    section.dieukhac-tc .ct .col4:nth-child(2n){margin-right: 0}
    section.dieukhac-tc .ct .col4:nth-child(5){display: none;}
    section.dieukhac-tc{padding: 0 2%}
    section.dieukhac-tc .tt{font-size: 130%}
    section.wrp-spnb .tt{font-size: 130%}
    .owl-carousel .owl-nav .owl-prev img,.owl-carousel .owl-nav .owl-next img{width: 20px}
    .slide-slnb .owl-dots{margin-top: 2% !important}
    .slide-slnb .owl-dot{width: 10px !important;height: 10px !important}
    section.wrp-hl li{font-size: 150% !important}
    footer{padding-left: 2%;padding-right: 2%}
    footer .col3{width: 50%;line-height: 26px}
    footer .col3:nth-child(1){display: none;}
    footer .grp-col4 .col4{width: 49%;margin-right: 2%}
    footer .grp-col4 .col4:nth-child(2n){margin-right: 0}
    footer .grp-col4 .col4:nth-child(1){display: none;}
    footer .grp-col4 .col4:nth-child(4){width: 100%;}
    section.wrp-slide,section.wrp-ab-tc {padding-left: 2%;padding-right: 2%}
    .wrap-loaitin .right .list-pro li{width: 100% !important}
    .wrap-loaitin .page-cate{width: 100%;}
    .wrap-loaitin .right .list-pro li .wrap-des-cate p{display: none;}
    .wrap-loaitin .right .list-pro li .wrap-des-cate h3{font-size: 100%}
}
@media screen and (max-width: 375px) {
    section.wrp-hl li{font-size: 110% !important }
}
@media screen and (max-width: 320px) {
    header .right .grp span{font-size: 100%}
    section.wrp-ab-tc .tt,section.dieukhac-tc .tt,section.wrp-spnb .tt{font-size: 110%}
    footer .col3{width: 100% !important}
}